body {
  margin-top: 70px;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  background-color: #333333;
  border-color: #333333;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9482B6;
}

#last-menu-item {
    margin-right: 30px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
  background-color: #333333;
  font-size: 15px;
  font-weight: 1200;
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.dropdown-menu > li > a:hover {
    color: #9482B6;
    background-color: #333333;
}