body {
    padding: 10px !important;
    margin-left: 40px;
}

.ng-table {
  width: initial;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background: #443266;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
}

.ng-table thead tr th {
  background: #443266;
  font-size: 15px;
  color: #fff;
  border-bottom: 0px;
}

.ng-table tr {
  border: 1px solid #aaaaaa;
}

.ng-table tbody tr:nth-child(odd) {
  background: #eeeeee;
}

.ng-table tr *:nth-child(1) {
  text-align: left;
}

.ng-table tbody th *:nth-child(1) {
  text-align: left;
}

/* the subheader */
.ng-table thead th.subheader {
  /*background: #7c6f93;*/
  background: #695a84;
  line-height: 0.5;
  font-size: 13px;
}

/* the link at the subheader */
.ng-table thead th.subheader a {
  color: #fff;
}

.ng-table thead th.subheader div {
  text-align: center;
}

.btn-primary { 
  border-color: #043266; 
  background-color: #443266;
  color: #fff;
}

.btn-default { 
  /*color: #fff;*/
}