body {
    padding: 10px !important;
    margin-left: 40px;
}

.ng-table {
  width: initial;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background: #443266;
  font-size: 15px;
  color: #fff;
  text-shadow: none;
}

.ng-table thead th {
  background: #443266;
  font-size: 15px;
  color: #fff;
}

.ng-table tr {
  border: 1px solid #aaaaaa;
}

.ng-table tbody tr:nth-child(odd) {
  background: #eeeeee;
}

.ng-table tr *:nth-child(1) {
  text-align: left;
}

.ng-table tbody th *:nth-child(1) {
  text-align: left;
}
