<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>Quizzes</title>
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
</head>

<body ng-controller="quizzesController">

  <br>
  <div class="container">
    <div class="btn-toolbar">
      <button class="btn btn-warning" ng-click="create_quiz_window()">Create</button>
      <button class="btn btn-danger" ng-click="delete_selected()">Delete</button>
    </div>

    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Create</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="quizz in quizzes">
          <td><input type="checkbox" ng-model="quizz.selected"></td>
          <td>{{quizz.name}}</td>
          <td>{{quizz.time}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <script src="js/controller_quizzes.js"></script>
</body>
</html>