<br>
<div class="row">
  <div class="col-md-8">
    <form class="form-horizontal" role="form">
      <table class="table">
        <tbody>
          <tr ng-repeat="question in quiz.questions">
            <td>{{question.text}}<br>
            source:<i>{{question.source}}</i></td>
            <td><input class="form-control" ng-model="question.guess_low"></td>
            <td><input class="form-control" ng-model="question.guess_high"></td>
          </tr>
          <tr><td></td><td></td><td></td></tr>
        </tbody>
      </table>
      <div align="right">
        <a href="/" class="btn btn-primary" ng-click="submit()">Submit</a>
      </div>
    </form>
  </div>
</div>