<link href="/css/rankings.css" rel="stylesheet">
      
<table ng-table="tableParams" show-filter="true" class="table">
  <thead>
    <tr>
      <th ng-repeat="column in columns" ng-show="column.visible"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.field, 'asc'),
            'sort-desc': tableParams.isSortBy(column.field, 'desc')
          }"
          ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">

        {{column.title}}

        <span class="dropup">
          <span class="caret" ng-show="tableParams.isSortBy(column.field, 'asc')"></span>
        </span>
        <span class="caret" ng-show="tableParams.isSortBy(column.field, 'desc')"></span>
        <span ng-show="!tableParams.isSortBy(column.field, 'desc') && !tableParams.isSortBy(column.field, 'asc')">&nbsp;&nbsp;</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in $data">
      <td class="text-center" ng-repeat="column in columns" ng-show="column.visible" sortable="column.field">
        {{user[column.field]}}
      </td>
    </tr>
  </tbody>
</table>


