<table ng-table="views.scores.tableParams" show-filter="true" class="table">
  <thead>
    <tr>
      <th ng-repeat="column in views.scores.columns" ng-show="column.visible"
          class="text-center sortable" ng-class="{
            'sort-asc': views.scores.tableParams.isSortBy(column.field, 'asc'),
            'sort-desc': views.scores.tableParams.isSortBy(column.field, 'desc')
          }"
          ng-click="views.scores.tableParams.sorting(column.field, views.scores.tableParams.isSortBy(column.field, 'desc') ? 'asc' : 'desc')">

        {{column.title}}

        <span class="dropup">
          <span class="caret" ng-show="views.scores.tableParams.isSortBy(column.field, 'asc')"></span>
        </span>
        <span class="caret" ng-show="views.scores.tableParams.isSortBy(column.field, 'desc')"></span>
        <span ng-show="!views.scores.tableParams.isSortBy(column.field, 'desc') && !views.scores.tableParams.isSortBy(column.field, 'asc')">
          &nbsp;&nbsp;
        </span>
      </th>
    </tr>

    <tr>
      <th ng-repeat="column in views.scores.columns" class="subheader">
        <div ng-switch="column.link">
          <div ng-switch-when="true">
            <a href="/#/scores_detailed/?id={{column.field}}">more details&nbsp;&nbsp;</a>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in $data">
      <td class="{{user.highlight_class}}" ng-repeat="column in views.scores.columns" ng-show="column.visible" sortable="column.field">
        {{user[column.field]}}
      </td>
    </tr>
  </tbody>
</table>


