<style>
  textarea {
    resize:none;
  }
</style>

<div class="container">
  <div class="row col-md-12 site">
      <div class="site-title">
        <h2><b>Suggest a question</b></h2>
      </div>

      <div class="body-text">
        <br><br>
        <div class="row col-md-offset-1 col-md-10">
          <form name="suggestion_form">
            <textarea class="form-control" rows="7" ng-model="suggestionText">
            </textarea> 
          </form>
          <br>
          <div align="center">
            <a href="/#/home" class="btn btn-lg btn-primary" ng-click="submit()">
              <div class="submit">Submit</div>
            </a>
          </div>
          <br>
        </div>
      </div>
  </div>
</div>

